*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    margin-bottom: 10px;
    height: 100vh;
    background-image: url(/public/1602972489_6-p-dizain-interera-kafe-9.jpg);
    background-size:cover;
}
.header::after{
    content: "";
    height: 100%;
    width: 100%;
    display: block;

    /* background: linear-gradient(to bottom, transparent 50%, white 100%); */
}
.header-content{
    height: 100%;
    color: aliceblue;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}
.header-content_name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
    padding-left: 10%;
    padding-top: 10%;
}
.header-content_btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5%;
}

/*кнопка вызова официанта*/

.header-content_waiter-call_btn {
    min-height: 30px;
    text-decoration: none;
    padding: 9px 9px 0 9px;
    color: #eecccc;
    cursor: pointer;
    font: normal 17px arial;
  }
  
  .header-content_waiter-call_btn:not(.active) {
    box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
    background-color: #ec5a5a;
  }
  
  .header-content_waiter-call_btn:not(.active):hover,
  .header-content_waiter-call_btn:not(.active):focus {
    transition: color 200ms linear, text-shadow 500ms linear;
    color: #fff;
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
  }
  .header-content_waiter-call_btn:not(:hover) {
      transition: 0.6s;
  }

  /*кнопка вызова официанта окончание*/
  /*кнопка меню*/
  .header-content-menu_btn {
    min-height: 30px;
    text-decoration: none;
    padding: 9px 9px 0 9px;
    color: #a675b3;
    cursor: pointer;
    font: normal 17px arial;
  }
  
  .header-content-menu_btn:not(.active) {
    box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
    background-image: linear-gradient(#3b2751, #271739);
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
  }
  
  .header-content-menu_btn:not(.active):hover,
  .header-content-menu_btn:not(.active):focus {
    transition: color 200ms linear, text-shadow 500ms linear;
    color: #fff;
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
  }
  .header-content-menu_btn:not(:hover) {
      transition: 0.6s;
  }
  /*кнопка меню окончание*/
  /*блок меню*/
  .menu{
    text-align: center;
    padding: 9px;
  }
  .menu-content{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  .menu-content_dish{ /*карточка блюда*/
    width: 49%;
    text-align: center;
    padding: 10px 0 10px 0;
  }
  /*конец блока меню*/